# --- Python ---
__pycache__/
# *.py[cod]

# --- Virtual environments ---
.venv/
venv/

# --- Environment / secrets ---
.env
.env.*         # ignore all .env files
!.env.example  # BUT keep .env.example

# --- uv ---
.uv/

# --- IDE / OS ---
.vscode/
.DS_Store
Thumbs.db